table,
tr,
th,
td {
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 10px;
}

th {
  padding-left: 5rem;
  padding-right: 5rem;
}
.shape {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  margin-top: 30px;
}

.s {
  border: 2px solid #7ab8b7;
}
.s1 {
  width: 100px;
  height: 50px;
  border-radius: 5px;
}
.s2 {
  width: 100px;
  height: 50px;
  border-radius: 7px;
}
.s3 {
  width: 100px;
  height: 50px;
  border-radius: 15px;
}

.s4 {
  width: 100px;
  height: 50px;
  border-radius: 7px;
}
.s5 {
  width: 100px;
  height: 50px;
}
.s6 {
  width: 100px;
  height: 50px;
  border-radius: 15px;
}
.s7 {
  width: 100px;
  height: 50px;
  border-radius: 50%;
}
.s8 {
  width: 100px;
  height: 50px;
  border-radius: 5px;
}
.s9 {
  width: 100px;
  height: 50px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
